-# coding: utf-8
.text-center
  %a.large.button{href: '/auth/vkontakte'} Войти через vk.com

%h2.subheader Что это?
%h5.no-marg-top.subheader.eight
  Это приложение позволяющее добавлять песни из плейлистов
  %a{href: 'http://last.fm', target: '_blank'} last.fm
  к вашим аудизаписям вконтакте. Оно может быть полезно, если
  вы, например, хотите поделиться любимыми композициями с друзьями
  или добавить интересный плейлист в вашу группу.
%h2.subheader Как это работает?
%h5.no-marg-top.subheader.eight
  После авторизации (личная информация на сервере не сохраняется) и
  загрузки плейлиста из предоставленного списка
  песен будут удалены дубликаты и начнется их добавление в обратном
  порядке, таким образом, что в итоге первая песня из плейлиста
  будет последней добавленой и таким образом наверху списка
  аудиозаписей. Так как вконтакте накладывает большие
  ограничения на работу сторонних сервисов (3 запроса к
  %a{href: 'http://vk.com/developers.php?oid=-1&p=%D0%9E%D0%BF%D0%B8%D1%81%D0%B0%D0%BD%D0%B8%D0%B5_%D0%BC%D0%B5%D1%82%D0%BE%D0%B4%D0%BE%D0%B2_API', target: '_blank'} API
  в секунду, до 10 добавлений аудиозаписей в минуту, но не больше чем
  50 в час), то импорт может занять существенное количество времени,
  например для импорта 500 песен потребуется около 10 часов, причем
  треки будут добавляться в коротких промежутках небольшими проциями.
%h2.subheader Откуда оно взялось?
%h5.no-marg-top.subheader.eight
  Приложение написано
  = succeed ',' do
    %a{href: 'https://www.facebook.com/akorzhuev', target: '_blank'}> Андреем Коржуевым
  бесплатно и распространяется с открытым исходным кодом доступным
  = succeed '.' do
    %a{href: 'https://github.com/andrusha/lastfm-to-vk', target: '_blank'} на github
