-# coding: utf-8
%form{action: "/", method: "post", enctype: "multipart/form-data"}
  .row
    .four.columns
      %label.right.inline Файл плейлиста
    .eight.columns
      %input{type: "file", name: "file"}
      %p.subheader
        Поддерживается только формат TSV
  .row
    .four.columns
      %label.right.inline
        ID группы
        %p.subheader (необязательно)
    .eight.columns
      %input{type: "text", name: "gid"}
  .row
    .four.columns
    .eight.columns
      %input.button{type: "submit", value: "Загрузить"}

%h2.subheader Где взять плейлист?
%h5.no-marg-top.subheader.eight
  %ul.square
    %li
      Откройте вкладку любимых композиций (
      %a{href: 'http://www.last.fm/user/kitestring/library/loved', target: '_blank'}> пример
      ) или плейлист (
      %a{href: 'http://www.lastfm.ru/user/kitestring/library/playlists/6dgbg_', target: '_blank'}> пример
      );
    %li
      Нажмите в правом верхнем углу «Экспортировать плейлист» или "Export Playlist";
    %li
      В открывшемся окне выберите формат «TSV (Tab Separated Values)»;
    %li
      После того как обработка будет закончена получившийся файл можно будет
      загружать в приложение.

%h2.subheader Можно ли сделать плейлист вручную?
%h5.no-marg-top.subheader.eight
  Да, формат TSV предполагает текстовый файл со значениями разделенными
  знаком табуляции (клавиша Tab), причем первая строчка этого файла
  считается заголовком и игнорируется приложением, а содержание файла имеет
  следующий формат:
  %blockquote
    %p
      «название песни» «символ табуляции» «имя исполнителя»
